<%= content_for :navbar do %>
  ""
<% end %>

<div class="flex justify-between p-5">

  <%= link_to root_path do %>
    <h1 class="text-5xl text-gray-900"><strong>ALBERTO GRECO</strong></h1>
  <% end %>

  <ol class="flex pt-3">
    <p class="px-2 hover:text-gray-900"><%= link_to "BIOGRAFIA", bio_path %></p>
    <li class="px-2 hover:text-gray-900"><%= link_to "ETAPAS", phases_path %></li>
    <li class="px-2 hover:text-gray-900"><%= link_to "OBRAS", artworks_path %></li>
    <li class="px-2 hover:text-gray-900"><%= link_to "MUESTRAS", shows_path %></li>
    <li class="px-2 hover:text-gray-900"><%= link_to "ARTE VIVO", lives_path %></li>
    <li class="px-2 hover:text-gray-900"><%= link_to "ESCRITOS", writings_path %></li>
  </ol>
</div>

<div class="px-0">
  <%= image_tag asset_path('nascimiento.jpg') %>
</div>
