<%= content_for :navbar do %>
  ""
<% end %>

      <div class="flex justify-between">

        <%= link_to root_path do %>
          <h1 class="text-5xl"><strong>ALBERTO GRECO</strong></h1>
        <% end %>

        <ol class="flex">
          <li class="px-2">BIOGRAFIA</li>
          <li class="px-2"><%= link_to "ETAPAS", phases_path %></li>
          <li class="px-2"><%= link_to "OBRAS", artworks_path %></li>
          <li class="px-2"><%= link_to "MUESTRAS", shows_path %></li>
          <li class="px-2"><%= link_to "ARTE VIVO", lives_path %></li>
          <li class="px-2"><%= link_to "ESCRITOS", writings_path %></li>
        </ol>
      </div>
